*,
*::before,
*::after {
    box-sizing: border-box;
}

/**
 * These colors come from https://www.radix-ui.com/colors
 * Understanding the scale: https://www.radix-ui.com/docs/colors/palette-composition/understanding-the-scale
 *
 * In short:
 * 1 - 2: Subtle backgrounds, main app background, subtle component
 *        backgrounds (e.g. striped table, card, sidebar)
 * 3 - 5: Component backgrounds (normal, hover and pressed/selected states)
 *        +1 for call-to-actions components
 * 6 - 8: Borders (subtle, interactive, interactive-hovered)
 * 9 - 10: Solid backgrounds (normal and hover states)
 * 11 - 12: Text (low-contrast and hight-contrast
 */
:root {
    --color-primary1: hsl(292, 90.0%, 99.4%);
    --color-primary2: hsl(300, 100%, 98.6%);
    --color-primary3: hsl(299, 71.2%, 96.4%);
    --color-primary4: hsl(299, 62.0%, 93.8%);
    --color-primary5: hsl(298, 56.1%, 90.5%);
    --color-primary6: hsl(296, 51.3%, 85.8%);
    --color-primary7: hsl(295, 48.2%, 78.9%);
    --color-primary8: hsl(292, 47.7%, 70.8%);
    --color-primary9: hsl(292, 45.0%, 51.0%);
    --color-primary10: hsl(292, 50.2%, 46.9%);
    --color-primary11: hsl(292, 60.0%, 42.5%);
    --color-primary12: hsl(291, 66.0%, 14.0%);

    --color-grey1: hsl(300, 20.0%, 99.0%);
    --color-grey2: hsl(300, 7.7%, 97.5%);
    --color-grey3: hsl(294, 5.5%, 95.3%);
    --color-grey4: hsl(289, 4.7%, 93.3%);
    --color-grey5: hsl(283, 4.4%, 91.3%);
    --color-grey6: hsl(278, 4.1%, 89.1%);
    --color-grey7: hsl(271, 3.9%, 86.3%);
    --color-grey8: hsl(255, 3.7%, 78.8%);
    --color-grey9: hsl(252, 4.0%, 57.3%);
    --color-grey10: hsl(253, 3.5%, 53.5%);
    --color-grey11: hsl(252, 4.0%, 44.8%);
    --color-grey12: hsl(260, 25.0%, 11.0%);

    --color-box-shadow: rgb(0 0 0 / 8%);
}

body {
    margin: 0;
    padding: 0;

    color: var(--color-primary12);
    font-family:
        system-ui,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        "Helvetica Neue",
        sans-serif;
    font-size: 125%;

    background: var(--color-primary2);
}

*:focus {
    outline: 0.15em solid var(--color-primary9);
}

hr {
    max-width: 75%;
    height: 0.1em;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--color-primary9);
    border: none;
    border-radius: 0.5em;
}

pre {
    overflow-x: scroll;
}

/** TITLES **/
h1 {
    margin-top: 0;
    margin-bottom: 0;
}

/** LINKS **/
a {
    color: var(--color-primary11);
}

.link--noline {
    text-decoration: none;
}

.link--block {
    display: block;
}

.link--external {
    padding-right: 15px;

    background-image: url('external.svg');
    background-position: center right;
    background-repeat: no-repeat;
}

/** IMAGES **/
img {
    max-width: 100%;
}

/** TEXT **/
.text--secondary {
    color: var(--color-grey11);
}

.text--italic {
    font-style: italic;
}

.text--center {
    text-align: center;
}

.text--right {
    text-align: right;
}

.text--smaller {
    font-size: 0.8em;
}

.text--small {
    font-size: 0.9em;
}

.text--big {
    font-size: 1.2em;
}

/** LAYOUT **/
.layout__header {
    padding: 0.5em;
    padding-top: 0;

    background-color: white;
    box-shadow: 1px 1px 2px 1px var(--color-box-shadow);
}

@media (min-width: 800px) {
    .layout__header {
        padding: 0;
    }
}

.layout__header-link {
    display: block;
    padding: 1em;
    padding-bottom: 0.8em;

    font-weight: bold;
    text-align: center;
    text-decoration: none;

    border-bottom: 0.2em solid transparent;

    outline-offset: -0.15em;

    transition: background-color 0.2s ease-in-out;
}

.layout__header-link[aria-current="page"] {
    background-color: var(--color-primary3);
    border-color: var(--color-primary9);
}

.layout__header-link:hover,
.layout__header-link:focus {
    background-color: var(--color-primary4);
}

.layout__header-search {
    position: relative;
}

.layout__header-search input {
    padding-right: 2em;
}

.layout__header-search button {
    position: absolute;
    top: 0;
    right: 0;

    padding-right: 0.5em;
    padding-left: 0.5em;

    border-radius: 1em;

    opacity: 0.7;

    transition: opacity 0.2s ease-in-out;
}

.layout__header-search button:not([disabled]),
.layout__header-search button:hover:not([disabled]),
.layout__header-search button:focus:not([disabled]) {
    background: none;
    border-color: transparent;
    box-shadow: none;
}

.layout__header-search button:hover:not([disabled]),
.layout__header-search button:focus:not([disabled]) {
    opacity: 1;
}

@media (min-width: 800px) {
    .layout__header-logout {
        position: absolute;
        right: 1em;
    }
}

.layout__top {
    padding-right: 1em;
    padding-left: 1em;
}

.layout__title {
    word-wrap: anywhere;
}

/** USER LAYOUT **/
.user-nav {
    border-bottom: 0.1em solid var(--color-primary6);
}

.user-nav a {
    display: block;
    margin-bottom: -0.1em;
    padding: 1em;
    padding-bottom: 0.9em;

    text-align: center;
    text-decoration: none;

    border-bottom: 0.1em solid transparent;

    outline-offset: -0.15em;

    transition: background-color 0.2s ease-in-out;
}

.user-nav a[aria-current="page"] {
    font-weight: bold;

    border-bottom-color: var(--color-primary9);
}

/** FORMS **/
label {
    display: block;
    padding-right: 0.5em;
    padding-left: 0.5em;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 0.3em 0.5em;

    font-size: 1em;
    font-family: inherit;

    background-color: var(--color-primary4);
    box-shadow: 2px 2px 3px var(--color-box-shadow) inset;
    border: 1px solid transparent;
    border-radius: 1em;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    background-color: var(--color-primary5);
    border-color: var(--color-primary7);
}

textarea {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 3em;
}

.form__caption {
    padding-right: 0.5em;
    padding-left: 0.5em;

    color: var(--color-grey11);
    font-size: 0.9em;
}

.form__actions {
    text-align: right;
}

/** BUTTONS **/
button {
    padding: 0.3em 1em;

    font-size: 1em;
    font-family: inherit;

    background-color: var(--color-grey3);
    background-image: linear-gradient(to bottom, rgb(0 0 0 / 0%), rgb(0 0 0 / 5%));
    box-shadow: 0 1px 2px var(--color-box-shadow);
    border: 0.1em solid var(--color-grey7);
    border-radius: 0.5em;

    cursor: pointer;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

button:not([disabled]):hover,
button:not([disabled]):focus {
    background-color: var(--color-grey4);
    border-color: var(--color-grey8);
}

button:not([disabled]):active {
    background-color: var(--color-grey5);
}

button[disabled] {
    color: var(--color-grey11);

    border-color: var(--color-grey6);

    outline: none;

    cursor: not-allowed;
    pointer-events: none;
}

.button--primary {
    background-color: var(--color-primary4);
    border-color: var(--color-primary7);
}

.button--primary:not([disabled]):hover,
.button--primary:not([disabled]):focus {
    background-color: var(--color-primary5);
    border-color: var(--color-primary8);
}

.button--primary:not([disabled]):active {
    background-color: var(--color-primary6);
}

.button--primary[disabled] {
    color: var(--color-primary11);

    border-color: var(--color-primary7);
}

/** LISTS **/
.list--no-style {
    padding: 0;

    list-style: none;
}

.list--border {
    border: 0.1em solid var(--color-primary6);
    border-radius: 0.5em;
}

.list--border > li > a {
    padding: 1em;
}

.list--border > li + li {
    border-top: 0.1em solid var(--color-primary6);
}

/** BADGES **/
.badge {
    padding: 0.1em 0.5em;

    background-color: var(--color-primary4);
    border-radius: 0.5em;
}

/** CARDS **/
.card {
    overflow-x: scroll;

    padding: 1em;

    background-color: var(--color-primary1);
}

.card--bordered {
    border-top: 0.1em solid var(--color-primary6);
    border-bottom: 0.1em solid var(--color-primary6);
}

@media (min-width: 800px) {
    .card {
        border-radius: 1em;
    }

    .card--bordered {
        border-right: 0.1em solid var(--color-primary6);
        border-left: 0.1em solid var(--color-primary6);
    }
}

/** EXPANDABLE **/
[data-expandable] {
    overflow-y: hidden;

    position: relative;

    max-height: 150px;

    transition:
        height 0.2s ease-in-out,
        max-height 0.2s ease-in-out;
}

[data-expandable-handle] {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;

    color: var(--color-primary11);
    font-weight: bold;

    background-image: radial-gradient(ellipse at top, var(--color-primary4), transparent 65%);
    background-color: var(--color-primary1);
    border: none;
    border-top: 1px solid var(--color-primary4);
    border-radius: 0;
    box-shadow: 0px -3px 3px var(--color-box-shadow);

    outline-offset: -0.15em;

    transition:
        background-color 0.2s ease-in-out,
        border-color 0.2s ease-in-out;
}

[data-expandable-handle]:hover:not([disabled]),
[data-expandable-handle]:focus:not([disabled]) {
    background-color: var(--color-primary2);
    border-color: var(--color-primary6);
}

/** UTILS **/
.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
}

.flow-smaller > * {
    --flow-size: 0.2em;
}

.flow-small > * {
    --flow-size: 0.4em;
}

.flow > * {
    --flow-size: 1em;
}

.flow-large > * {
    --flow-size: 2em;
}

.flow-larger > * {
    --flow-size: 4em;
}

.flow-smaller > * + *,
.flow-small > * + *,
.flow > * + *,
.flow-large > * + *,
.flow-larger > * + * {
    margin-top: var(--flow-size);
}

.flow-smaller.row--always > * + *,
.flow-small.row--always > * + *,
.flow.row--always > * + *,
.flow-large.row--always > * + *,
.flow-larger.row--always > * + * {
    margin-top: 0;
    margin-left: var(--flow-size);
}

@media (min-width: 800px) {
    .flow-smaller.row > * + *,
    .flow-small.row > * + *,
    .flow.row > * + *,
    .flow-large.row > * + *,
    .flow-larger.row > * + * {
        margin-top: 0;
        margin-left: var(--flow-size);
    }
}

.row {
    display: flex;

    align-items: stretch;
}

@media (max-width: 799px) {
    .row:not(.row--always) {
        flex-direction: column;
    }
}

.row--v-center {
    align-items: center;
}

.row__item--extend {
    flex: 1;
}

.row__item--noshrink {
    flex-shrink: 0;
}

.wrapper {
    max-width: 50rem;
}

.wrapper-text {
    max-width: 55ch;
}

.wrapper--center {
    margin-right: auto;
    margin-left: auto;
}
