<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><?= $brand ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="<?= url_static('style.css') ?>">
        <script src="<?= url_static('turbo.js') ?>" defer></script>
        <script src="<?= url_static('main.js') ?>" defer></script>

        <?php foreach ($alternates as $alternate): ?>
            <link rel="alternate" type="<?= $alternate['type'] ?>" title="<?= protect($alternate['title']) ?>" href="<?= $alternate['url'] ?>" />
        <?php endforeach; ?>
    </head>

    <body class="flow-large">
        <header class="layout__header">
            <div class="row row--v-center flow wrapper wrapper--center">
                <nav class="row__item--extend row row--always row--v-center">
                    <a
                        class="layout__header-link"
                        href="<?= url('home') ?>"
                        <?= $current_page === 'timeline' ? 'aria-current="page"' : '' ?>
                    >
                        Accueil
                    </a>

                    <?php if ($current_user): ?>
                        <a
                            class="layout__header-link"
                            href="<?= url('user', ['handlename' => protect($current_user->handlename)]) ?>"
                            <?= $current_page === 'profile' ? 'aria-current="page"' : '' ?>
                        >
                            Mon profil
                        </a>

                    <?php else: ?>
                        <a
                            class="layout__header-link"
                            href="<?= url('registration') ?>"
                            <?= $current_page === 'registration' ? 'aria-current="page"' : '' ?>
                        >
                            Créer un compte
                        </a>

                        <a
                            class="layout__header-link"
                            href="<?= url('new login') ?>"
                            <?= $current_page === 'login' ? 'aria-current="page"' : '' ?>
                        >
                            Se connecter
                        </a>
                    <?php endif; ?>
                </nav>

                <?php if ($current_user): ?>
                    <form method="post" action="<?= url('search feed') ?>">
                        <div class="layout__header-search">
                            <input
                                type="url"
                                id="query"
                                name="q"
                                value="<?= $query ?>"
                                required
                                placeholder="Rechercher un flux"
                                aria-label="Rechercher un flux par son URL"
                            />

                            <button type="submit">
                                🔎
                                <span class="sr-only">
                                    Rechercher
                                </span>
                            </button>
                        </div>

                        <input type="hidden" name="csrf" value="<?= $csrf ?>">
                    </form>

                    <form class="layout__header-logout" method="post" action="<?= url('logout') ?>">
                        <input type="hidden" name="csrf" value="<?= $csrf ?>">
                        <button class="text--small" type="submit">
                            Se déconnecter
                        </button>
                    </form>
                <?php endif; ?>
            </div>
        </header>

        <?= $this->safe('content') ?>
    </body>
</html>
