<?php
    $alternates = [[
        'type' => 'application/atom+xml',
        'url' => url_full('user atom', ['handlename' => $user->handlename]),
        'title' => protect($user->handlename),
    ]];

    if ($current_user && $current_user->id === $user->id) {
        $this->layout('base.phtml', ['current_page' => 'profile', 'alternates' => $alternates]);
    } else {
        $this->layout('base.phtml', ['alternates' => $alternates]);
    }
?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <div class="layout__top row row--always row--v-center flow-small">
            <h1 class="layout__title row__item--extend">
                @<?= protect($user->handlename) ?>
            </h1>

            <?php if ($current_user && $current_user->id !== $user->id): ?>
                <?php if ($current_user->isFollowing($feed)): ?>
                    <form method="post" action="<?= url('unfollow feed', ['id' => $feed->id]) ?>">
                        <input type="hidden" name="csrf" value="<?= $csrf ?>">
                        <input type="hidden" name="from" value="<?= url('user', ['handlename' => $user->handlename]) ?>">
                        <button class="button--primary" type="submit">
                            Ne plus suivre
                        </button>
                    </form>
                <?php else: ?>
                    <form method="post" action="<?= url('follow feed', ['id' => $feed->id]) ?>">
                        <input type="hidden" name="csrf" value="<?= $csrf ?>">
                        <input type="hidden" name="from" value="<?= url('user', ['handlename' => $user->handlename]) ?>">
                        <button class="button--primary" type="submit">
                            Suivre
                        </button>
                    </form>
                <?php endif; ?>
            <?php endif; ?>
        </div>

        <nav class="user-nav row row--always">
            <a
                href="<?= url('user', ['handlename' => $user->handlename]) ?>"
                <?= $current_tab === 'timeline' ? 'aria-current="page"' : '' ?>
            >
                Le fil
            </a>

            <a
                href="<?= url('user follows', ['handlename' => $user->handlename]) ?>"
                <?= $current_tab === 'follows' ? 'aria-current="page"' : '' ?>
            >
                Abonnements
            </a>
        </nav>

        <?= $this->safe('content') ?>
    </div>
</main>
