<?php $display_reply_to = $display_reply_to ?? true; ?>

<article class="card card--bordered flow-large">
    <div class="row row--always">
        <div class="row__item--extend">
            <?php $feed = $entry->feed(); ?>
            <a href="<?= url('feed', ['id' => $feed->id]) ?>"><?= protect($feed->name) ?></a>

            <?php $reply_to = $entry->inReplyTo(); ?>
            <?php if ($display_reply_to && $reply_to): ?>
                <a class="badge link--noline text--small" href="<?= protect($reply_to) ?>">
                    ↩ réponse
                </a>
            <?php endif; ?>
        </div>

        <a
            class="row__item--noshrink text--small text--secondary link--noline"
            href="<?= url('entry', ['id' => $entry->id]) ?>"
        >
            <time
                datetime="<?= $entry->published_at->format(DATE_ATOM) ?>"
                title="<?= _d($entry->published_at, 'dd MMMM Y, HH:mm', 'FR_fr') ?>"
            >
                <?php if ($now->format('Y') === $entry->published_at->format('Y')): ?>
                    <?= _d($entry->published_at, 'dd MMM', 'FR_fr') ?>
                <?php else: ?>
                    <?= _d($entry->published_at, 'dd MMM Y', 'FR_fr') ?>
                <?php endif; ?>
            </time>
        </a>
    </div>

    <?php if ($entry->title && $entry->title !== $entry->url): ?>
        <h1>
            <?= protect($entry->title) ?>
        </h1>
    <?php endif; ?>

    <div class="wrapper-text" data-expandable>
        <?= $entry->content ?>

        <button data-expandable-handle>
            Lire la suite
            <span class="text--small">
                (<?= $entry->reading_time < 1 ? '< 1 min' :  "{$entry->reading_time}&nbsp;min" ?>)
            </span>
        </button>
    </div>

    <div class="row row--always row--v-center">
        <div class="row__item--extend">
            <a href="<?= url('entry', ['id' => $entry->id]) ?>#comments">
                <?php $count_replies = $entry->countReplies(); ?>
                <?php if ($count_replies <= 1): ?>
                    <?= $count_replies ?> réponse
                <?php else: ?>
                    <?= $count_replies ?> réponses
                <?php endif; ?>
            </a>
        </div>

        <?php if ($entry->url): ?>
            <div class="text--small">
                <a
                    class="link--noline link--external"
                    target="_blank"
                    rel="noopener noreferrer"
                    href="<?= protect($entry->url) ?>"
                >
                    Lire sur le site d’origine
                </a>
            </div>
        <?php endif; ?>
    </div>
</article>
