<form
    class="flow card"
    method="post"
    action="<?= url('create entry') ?>"
    data-turbo-preserve-scroll
>
    <div class="flow-small">
        <label for="content">
            Qu’avez-vous en tête ?
        </label>

        <p class="form__caption">
            Pour mettre en forme votre contenu, vous pouvez bidouiller
            <a
                class="link--external"
                href="https://flus.fr/carnet/markdown.html"
                target="_blank"
                rel="noopener noreferrer"
            >avec du Markdown</a>
            ou
            <a
                class="link--external"
                href="https://developer.mozilla.org/fr/docs/Learn/Getting_started_with_the_web/HTML_basics"
                target="_blank"
                rel="noopener noreferrer"
            >apprendre le HTML</a>.
        </p>

        <textarea
            id="content"
            name="content"
            required
            data-text-editor
        ><?= $content ?></textarea>
    </div>

    <div class="form__actions">
        <button class="button--primary" type="submit">
            Publier
        </button>
    </div>

    <input type="hidden" name="csrf" value="<?= $csrf ?>">
    <input type="hidden" name="from" value="<?= $from ?>">
    <?php if (isset($reply_to)): ?>
        <input type="hidden" name="reply_to" value="<?= $reply_to ?>">
    <?php endif; ?>
</form>
