<?php $display_reply_to = $display_reply_to ?? true; ?>

<ul class="flow-large list--no-style">
    <?php foreach ($entries as $entry): ?>
        <li>
            <?= $this->include('entries/_entry.phtml', [
                'entry' => $entry,
                'display_reply_to' => $display_reply_to,
            ]) ?>
        </li>
    <?php endforeach ?>
</ul>
