<?php $this->layout('base.phtml'); ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <?= $this->include('entries/_entry.phtml', ['entry' => $entry]) ?>

        <div class="flow-large" id="comments">
            <h2 class="text--center">Commentaires</h2>

            <?= $this->include('entries/_list.phtml', [
                'entries' => $entry->replies(),
                'display_reply_to' => false,
            ]); ?>

            <?php if ($current_user): ?>
                <?= $this->include('entries/_form.phtml', [
                    'content' => $content,
                    'from' => url('entry', ['id' => $entry->id]),
                    'reply_to' => $entry->url(),
                ]); ?>
            <?php endif; ?>
        </div>
    </div>
</main>
