<?php $this->layout('base.phtml', ['current_page' => 'timeline']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <div class="layout__top">
            <h1 class="layout__title">Accueil</h1>
        </div>

        <?php if ($current_user): ?>
            <?= $this->include('entries/_form.phtml', [
                'content' => $content,
                'from' => url('home'),
            ]); ?>

            <?= $this->include('entries/_list.phtml', [
                'entries' => $current_user->entries(20),
            ]); ?>
        <?php endif; ?>
    </div>
</main>
