<?php $this->layout('base.phtml', ['current_page' => 'timeline']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center">
        <div class="layout__top flow">
            <h1 class="layout__title">Recherche</h1>

            <p>
                Aucun flux n’a été trouvé.
            </p>
        </div>
    </div>
</main>
