<?php $this->layout('base.phtml', ['current_page' => 'timeline']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <div class="layout__top flow">
            <h1 class="layout__title">Bienvenue sur Loquace !</h1>
        </div>

        <div class="card">
            <div class="wrapper-text">
                <p>
                    Loquace est un <strong>prototype</strong> de réseau social qui
                    consomme et produit des flux Web (ex. <abbr>RSS</abbr> et Atom).
                    Son but est de montrer le potentiel des flux Web dans un
                    contexte de réseau social « traditionnel ».
                </p>

                <p>
                    Loquace est <a href="https://framagit.org/marienfressinaud/loquace">un logiciel libre</a>,
                    mais il est déconseillé de l’installer. Son développement ne
                    sera d’ailleurs pas prolongé. Il s’agit d’une preuve de
                    concept destiné à alimenter des idées.
                </p>

                <p>
                    Vous pouvez <a href="<?= url('registration') ?>">vous inscrire</a>
                    pour tester Loquace, mais il sera désinstallé aux alentours
                    du 20 avril (2023).
                </p>

                <p>
                    Loquace est un projet <a href="https://flus.fr">Flus</a>.
                    Une conférence sera donnée lors <a href="https://jdll.org">des <abbr>JdLL</abbr></a>
                    2023 pour y présenter différents prototypes autour des flux Web,
                    dont Loquace.
                </p>
            </div>
        </div>
    </div>
</main>
