<?php
    $alternates = [[
        'type' => $feed->type === 'rss' ? 'application/rss+xml' : 'application/atom+xml',
        'url' => protect($feed->url),
        'title' => protect($feed->name),
    ]];

    $this->layout('base.phtml', ['alternates' => $alternates]);
?>


<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <div class="layout__top flow-small">
            <div class="row row--always row--v-center flow-small">
                <h1 class="layout__title row__item--extend">
                    <?= protect($feed->name) ?>
                </h1>

                <?php if ($current_user): ?>
                    <?php if ($current_user->isFollowing($feed)): ?>
                        <form method="post" action="<?= url('unfollow feed', ['id' => $feed->id]) ?>">
                            <input type="hidden" name="csrf" value="<?= $csrf ?>">
                            <input type="hidden" name="from" value="<?= url('feed', ['id' => $feed->id]) ?>">
                            <button class="button--primary" type="submit">
                                Ne plus suivre
                            </button>
                        </form>
                    <?php else: ?>
                        <form method="post" action="<?= url('follow feed', ['id' => $feed->id]) ?>">
                            <input type="hidden" name="csrf" value="<?= $csrf ?>">
                            <input type="hidden" name="from" value="<?= url('feed', ['id' => $feed->id]) ?>">
                            <button class="button--primary" type="submit">
                                Suivre
                            </button>
                        </form>
                    <?php endif; ?>
                <?php endif; ?>
            </div>

            <div>
                <span class="badge text--small">flux</span>

                <?php if ($feed->linkAlternate()): ?>
                    <a
                        target="_blank"
                        rel="noopener noreferrer"
                        class="link--noline link--external"
                        href="<?= protect($feed->linkAlternate()) ?>"
                    >
                        <?= protect($feed->host()) ?>
                    </a>
                <?php endif; ?>
            </div>

            <?php if ($feed->description): ?>
                <div>
                    <?= $feed->description ?>
                </div>
            <?php endif; ?>
        </div>

        <?= $this->include('entries/_list.phtml', [
            'entries' => $feed->entries(20),
        ]); ?>
    </div>
</main>
