<?php
    $this->layout('user.phtml', [
        'user' => $user,
        'feed' => $feed,
        'current_tab' => 'follows',
    ]);
?>

<?php if (count($follows) > 1): ?>
    <ul class="list--no-style list--border">
        <?php foreach ($follows as $follow): ?>
            <?php if ($follow->feed_id === $feed->id) { continue; } ?>
            <li>
                <?php $follow_feed = $follow->feed(); ?>
                <a class="link--noline link--block" href="<?= url('feed', ['id' => $follow_feed->id]) ?>">
                    <?= protect($follow_feed->name) ?>

                    <?php if (!$follow_feed->url): ?>
                        <span class="badge text--small">local</span>
                    <?php endif; ?>
                </a>
            </li>
        <?php endforeach ?>
    </ul>
<?php else: ?>
    <p>
        Aucun abonnement.
    </p>
<?php endif; ?>
