<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title><?= $brand ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="<?= url_static('style.css') ?>">
        <script src="<?= url_static('turbo.js') ?>" defer></script>
    </head>

    <body>
        <main class="layout__body">
            <div class="wrapper wrapper--center flow-large">
                <div></div>

                <div class="layout__top flow">
                    <h1 class="layout__title">Page pas trouvée</h1>
                </div>

                <div class="card">
                    <p>
                        Déso cette page existe pas !
                        <a href="<?= url('home') ?>">Revenir à la page d’accueil</a>.
                    </p>
                </div>
            </div>
        </main>
    </body>
</html>
