<?php $this->layout('base.phtml', ['current_page' => 'registration']) ?>

<main class="layout__body">
    <div class="wrapper wrapper--center flow-large">
        <div class="layout__top">
            <h1 class="layout__title">Créer un compte</h1>
        </div>

        <form action="<?= url('register') ?>" method="post" class="card flow">
            <?php if (isset($errors['csrf'])): ?>
                <p class="form__error" role="alert" id="csrf-error">
                    <span class="sr-only">Erreur</span>
                    <?= $errors['csrf'] ?>
                </p>
            <?php endif ?>

            <div class="flow-small">
                <label for="handlename">
                    Pseudonyme
                    <small class="text--secondary">
                        (max 42 lettres et chiffres, il sera public)
                    </small>
                </label>

                <?php if (isset($errors['handlename'])): ?>
                    <p class="form__error" role="alert" id="handlename-error">
                        <span class="sr-only">Erreur</span>
                        <?= $errors['handlename'] ?>
                    </p>
                <?php endif ?>

                <input
                    type="text"
                    id="handlename"
                    name="handlename"
                    value="<?= $handlename ?>"
                    required
                    maxlength="42"
                    autocomplete="username"
                    <?php if (isset($errors['handlename'])): ?>
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="handlename-error"
                    <?php endif ?>
                />
            </div>

            <div class="flow-small">
                <label for="password">
                    Mot de passe
                    <small class="text--secondary">
                        (de préférence au moins 10 caractères)
                    </small>
                </label>

                <?php if (isset($errors['password'])): ?>
                    <p class="form__error" role="alert" id="password-error">
                        <span class="sr-only">Erreur</span>
                        <?= $errors['password'] ?>
                    </p>
                <?php endif ?>

                <input
                    type="password"
                    id="password"
                    name="password"
                    value="<?= $password ?>"
                    required
                    autocomplete="new-password"
                    <?php if (isset($errors['password'])): ?>
                        autofocus
                        aria-invalid="true"
                        aria-errormessage="password-error"
                    <?php endif ?>
                />
            </div>

            <div class="form__actions">
                <button class="button--primary" type="submit">
                    S’inscrire
                </button>
            </div>

            <input type="hidden" name="csrf" value="<?= $csrf ?>">
        </form>
    </div>
</main>
