<?= '<?xml version="1.0" encoding="UTF-8" ?>' . "\n" ?>
<feed xmlns="http://www.w3.org/2005/Atom">
    <title><?= protect($user->handlename) ?></title>

    <link href="<?= url_full('user', ['handlename' => $user->handlename]) ?>" rel="alternate" type="text/html" />
    <link href="<?= url_full('user atom', ['handlename' => $user->handlename]) ?>" rel="self" type="application/atom+xml" />
    <?php if ($hub): ?>
        <link rel="hub" href="<?= $hub ?>" />
    <?php endif; ?>

    <id><?= $user->tagUri() ?></id>
    <generator><?= $user_agent ?></generator>
    <author>
        <name><?= protect($user->handlename) ?></name>
    </author>

    <?php $entries = $feed->entries(20); ?>

    <?php if (isset($entries[0])): ?>
        <updated><?= $entries[0]->published_at->format(\DateTimeInterface::ATOM) ?></updated>
    <?php else: ?>
        <updated><?= \Minz\Time::now()->format(\DateTimeInterface::ATOM) ?></updated>
    <?php endif; ?>

    <?php foreach ($entries as $entry): ?>
        <entry>
            <title><?= $entry->shortContent() ?></title>
            <id><?= $entry->tagUri() ?></id>

            <link href="<?= url_full('entry', ['id' => $entry->id]) ?>" rel="alternate" type="text/html" />
            <?php if (isset($entry->links['related'])): ?>
                <link href="<?= protect($entry->links['related']) ?>" rel="related" type="text/html" />
            <?php endif; ?>

            <published><?= $entry->published_at->format(\DateTimeInterface::ATOM) ?></published>
            <updated><?= $entry->published_at->format(\DateTimeInterface::ATOM) ?></updated>

            <content type="html"><![CDATA[
                <?= $entry->content ?>
            ]]></content>
        </entry>
    <?php endforeach; ?>
</feed>

